<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562034440212-1k36etqse2tgvnl9mpd8g6dsilct6prh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562034440212-1k36etqse2tgvnl9mpd8g6dsilct6prh</string>
	<key>API_KEY</key>
	<string>AIzaSyCk94ZW9fYVcO81Xwn70mLmw91yONPphW4</string>
	<key>GCM_SENDER_ID</key>
	<string>562034440212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.FilmlerUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>filmleruygulamasi-76236</string>
	<key>STORAGE_BUCKET</key>
	<string>filmleruygulamasi-76236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562034440212:ios:8b7cf2c7c1373ac5768f01</string>
</dict>
</plist>